extends ../layout

block content
    div(class='container-fluid', id='content')
        div(class='row')
            div(class='col-lg-1')
                h1 Clicks
                h2 Highscores

        div(class='row')
            #results
            div(class='col-md-4')
                h3 Today
                table(class='table table-striped')
                    thead
                        tr
                            th #
                            th Name
                            th Score
                    tbody
                        if highscores.today
                            - n = 1
                            - each h in highscores.today
                                tr
                                    td= n
                                    td= h.name
                                    td= h.score
                                - n = n + 1

            div(class='col-md-4')
                h3 This week
                table(class='table table-striped')
                    thead
                        tr
                            th #
                            th Name
                            th Score
                    tbody
                        if highscores.today
                            - n = 1
                            - each h in highscores.this_week
                                tr
                                    td= n
                                    td= h.name
                                    td= h.score
                                - n = n + 1
            div(class='col-md-4')
                h3 All time
                table(class='table table-striped')
                    thead
                        tr
                            th #
                            th Name
                            th Score
                    tbody
                        if highscores.today
                            - n = 1
                            - each h in highscores.all_time
                                tr
                                    td= n
                                    td= h.name
                                    td= h.score
                                - n = n + 1